#header {

    .site-title {
        margin-left: 0.5rem;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem; 

    #ajax-posts {
        width: 100%;
    }

    .row {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #eee;
        margin-top: 0.125rem;

        @media screen and (max-width: 768px) {

            flex-wrap:wrap;        
        }
    }

    .col {
        display: flex;
        flex-wrap: wrap;

        &-date {
            flex-basis: 6rem;
            padding-top: 0.25rem;

            
        }
        &-items {
            width:100%;
            @media screen and (min-width: 768px) {
                flex-basis: calc(100% - 6rem);
            }

            .item {

                &-life {
            
                    display: inline-flex;
                    color: $red;
                    font-size: 1.25rem;
                    padding: 0 0.125rem;

                    transition-property: all;
                    transition-duration: .5s;
                    transition-timing-function: ease-out;
                    transition-delay: 0s;

                    margin-top: 0.5rem; 

                    a {
                        color: $red; 
                    }
                }
                &-life:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}


.icon-100 {
    display: inline-flex; 

    IMG {
        width: 30px; 
        height: 80px; 
        margin-right: 1rem; 
    }
}