// colors
$white:    #fff;
$gray-100: #f0eeee;  // used
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #636467; // used
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #00b2df;
$blue-light: #23c3ec;
$red:     #d40404;
$green: #92b751;
$yellow:  #ffe588;

$primary: $blue;

// fonts
$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'Sanchez, serif';

// headings
$headings-color: $primary;
